/*Plane animation*/
/*.moon {
  -webkit-animation-name: moon;
  -webkit-animation-duration: 3s;
  z-index: 0;
  position: absolute;
  left: 50%;
  margin-left: -300px;
}

@-webkit-keyframes moon {
  from {
      opacity: 0;
      bottom: -600px;
  }
  to {
      opacity: 1;
      bottom: 200px;
  }
}*/

.moon {
	position: absolute;
	left: 53%;
	margin-left: -255px;
	bottom: 40%;

	width: 460px;
	height: 460px;
	background-color: #FFFCD3;
	border-radius: 50%;

	display: none;

}

.moonlight {
	display: block;
	-webkit-animation-name: moon-1;
	-webkit-animation-timing-function: ease-out;
	-webkit-animation-duration: 1.5s;
	-moz-animation-name: moon-1;
	-moz-animation-timing-function: ease-out;
	-moz-animation-duration: 1.5s
}

@-webkit-keyframes moon-1 {
	0% {
		-webkit-transform: translate3d(0,100%,0);
		opacity: 0
	}

	60% {
		/*-webkit-transform: skewX(10deg);*/
		opacity: 0.8
	}

	80% {
		/*-webkit-transform: skewX(-5deg);*/
		opacity: 0.9
	}

	100% {
		-webkit-transform: none;
		opacity: 1
	}
}

@-moz-keyframes moon-1 {
	0% {
		-moz-transform: translate3d(0,-100%,0);
		opacity: 0
	}

	60% {
		/*-moz-transform: skewX(10deg);*/
		opacity: 0.8
	}

	80% {
		/*-moz-transform: skewX(-5deg);*/
		opacity: 0.9
	}

	100% {
		-moz-transform: none;
		opacity: 1
	}
}
/*@-webkit-keyframes moon-1 {
	0% {
		-webkit-transform: translate3d(100%,0,0) skewX(-30deg);
		opacity: 0
	}

	60% {
		-webkit-transform: skewX(20deg);
		opacity: 1
	}

	80% {
		-webkit-transform: skewX(-5deg);
		opacity: 1
	}

	100% {
		-webkit-transform: none;
		opacity: 1
	}
}*/


/*.logo {
	position: absolute;
	left: 53%;	

	animation: 3s ease-in 30s;
	animation-name: logo-1;

	width: 120px;
	height: 160px;
	background-image: url("../images/love1.png");
	z-index: 999999;
	margin-left: -92.5px;
	top: 220px;
	display: none;
}*/

@keyframes logo-1 {
  from {
  	opacity: 0;
    top: 100px;
  }

  to {
  	opacity: 1;
    bottom: 100px;
  }
}